.world{
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    margin: 1rem;
}
  
.populated{
    font-size: 1.5rem;
    font-weight:200;
    text-align: center;
    padding: 0;
    margin: 0;
}
  
.chart{
    position: absolute;
    top: 18%;
    left: 15%;
    border: 1px;
    background-color: #e6e6e6;
    padding: 1rem;
    filter: drop-shadow(0, 0, 0.25rem rgb(123, 123, 123));
    width: 70%;
    height: 30rem;
}
  
.bar{
    width:0;
    height: 35px;
    margin-top: 6px;
    background-color:rgba(255, 149, 0, 0.896);
    color: black;
    transition: width 1s;
    margin-left: 20rem;
}
  
.bar-label{
    position: absolute;
    left: 85%;
    font-weight: 500;
    font-size: 0.9rem;
  
}
  
.bar-name{
    position: absolute;
    float: left;
    left: 6rem;
    font-size: 0.9rem;
    font-weight: 500;
}